@import 'scss/reset';
@import 'scss/base';


.content{
    max-width: 1470px;
    height: 990px;
    background: #fafafa;
    margin: 0 auto;
    
    // Colors    
    
    &--blue { 
        background: #1b3764
    }
    &--white {
        background: #ffffff;
    }
    &--darken {
        background: #f5f8fc;
    }
    // Height 

    &--smaller {
        height: 660px;
    }
    &--bigger {
        height: 1140px;
    }
}

