.books {
  width: 1300px;
  height: 610px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 105px;
}

.book {
  display: flex;
  flex-flow: row;
  gap: 30px;
}

.book-charact {
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 10px;
}
.book__title {
  color: #1b3764;
  font-family: "Cardo";
  font-size: 32px;
  letter-spacing: 0.32px;
}
.book__price {
  color: #ffca42;
  font-family: "Inter";
  font-size: 21px;
}
.book__description {
  max-width: 290px;
  color: #969aa0;
  font-family: "Inter";
  font-size: 19px;
}
.book__status {
  position: relative;
  color: #1b3764;
  font-family: "Cardo";
  font-size: 24px;
  left:30px;

  &::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: -30px;
    right: 94.92%;
    top: calc(50% - 16px / 2.5 - 2.95px);
    background: #ffca42;
    border-radius: 100px;
  }
}
