.reservation__modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $blue-color;
    color: $white-color;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 99;
    overflow:visible;
    
    input{
        background-color: $orange-color;
        width: 300px;
        height: 40px;
        border-radius: 5px;
        font: $font-main;
    }
    ::placeholder{
        font: $font-accent;
        font-size: 20px;
        font-weight: 700;
    }
}

.reservation__title {
    font-family: $font-main;
    font-size: 24px;
    color: $black-color
}
.reservation__active{
    overflow: hidden;
    display: flex;
}

.reservation__close{
    color: $orange-color;
    margin-top: 5px;
    font-size: 24px;
    font-family: $font-main;
}