.header__calendar {
  width: 580px;
  height: 140px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  //   gap:5px
}

.calendar__title {
  color: $white-color;
  font-family: $font-main;
  font-size: 18px;
  font-weight: 400;
}
.calendar {
  border-radius: 10px;
  background-color: #d2e0f6;
}
.calendar__months {
  background-color: #d2e0f6;
  display: flex;
  margin-top: 15px;
  gap: 5px;
  width: 570px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 5px;
}
.calendar__days {
  background-color: rgba(251, 252, 254, 0.8);
  display: flex;
  gap: 5px;
  width: 570px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 5px;
}

.calendar__month {
  font-family: $font-main;
  font-size: 14px;
  font-weight: 300;
  color: $black-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 0px;
    right: 0;
    top: 7px;
    left: 25.52px;
    border: 1px solid #BED7FF;
    transform: rotate(90deg);
  }

  &.four--leters::after{
    left: 37.73px ;
  }
}
.current__month {
  color: $orange-text-color;
  padding: 0 15px;
  background-color: rgba(251, 252, 254, 0.6);

  &::after{
    display: none;
}
}
.calendar__day {
  font-family: $font-main;
  font-size: 14px;
  font-weight: 700;
  color: $grey-color;
  padding-left: 11px;
  &.available__day {
    color: $blue-color;
  }
}
