.cta .container--small {
  width: 840px;
  height: 170px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./../img/cta/cta-bg.png) no-repeat;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: start;
  margin-left: 155px;
}
.cta__model{
    position: relative;
    bottom: 63px;
}

.cta__form-property{
    display: flex;
    flex-flow: column;
    gap:15px
}

.cta__title {
    font-family: $font-main;
    font-weight: 700;
    font-size: 22px;
    color: $white-color;
    text-transform: uppercase;
}
.cta__descr {
    font-family: $font-main;
    font-weight: 300;
    font-size: 18px;
    color: $white-color;
    text-transform: uppercase;
}
.cta__form {
display: flex;
flex-flow: row;
gap:5px
}
.cta__input {
    width: 350px;
    height: 40px;
    background-color: $white-color;
}
.cta__send {
    width: 145px;
    height: 40px;
    border-radius: 3px;
    color: $white-color;
    background-color: $orange-color !important;
    font-family: $font-main;
    font-weight: 600;
    font-size: 12px;
}