.photo{
    width: 880px;
    min-height: 260px;
    margin-left: 305px;
    margin-top: 125px;

}
.photos__container {
    width: 860px;
    min-height: 170px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    @include headerLine;

    * {
        margin-top: 25px;
    }
}
.image {
    height: 170px;
    display: inline;
}
.add_photo {
    width: 160px;
    height: 160px;
    background-color: $white-color;
    color: $blue-color;
    border: solid $blue-color;

    font-family: $font-main;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    transition: all 0.25s ease-in-out;
    
    &:hover{
        color: $orange-color;
        background-color: $blue-color;
    }
}
.image__hidden {
    display: none;
}