.root {
  padding: 99px;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  color: #000;
  h1 {
    font-size: 77px;
    color: #000;
  }
}

.description {
  font-size: 22px;
  font-weight: 500;
}
