.review {
  display: flex;
  flex-flow: row;
  gap: 60px;
  margin-left: 125px;
  padding-top: 90px;

  .left-column {
    width: 450px;
    height: 340px;

    display: flex;
    flex-flow: column;
    gap: 60px;

    .container__title {
      text-align: left;

      &::after {
        top: auto;
        bottom: -10px;
        width: 50px;
        left: 0;
      }
    }

    .description {
      width: 435px;
      font-size: 19px;
      color: #969aa0;
    }
    p {
        color: #1b3764;
        font-family: 'Inter';
        font-size: 18px;
    }

    .overall { 
        position: relative;
        bottom: 40px;
    }
  }

  .right-column {
    width: 810px;
    height: 635px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 20px;
  }
}

.overall-rating {
  display: flex;
  flex-flow: row;
  gap: 5px;

  .full-circle {
    width: 20px;
    height: 20px;
    background: #ffca42;
    border-radius: 20px;
  }
  .half-circle {
    position: relative;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #ffca42 50%, #ffffff 50%);
    border: 1px solid #ffca42;
    border-radius: 20px;
  }

  p {
    font-family: 'Cardo';
    font-size: 22px;
    color: #1b3764;
  }

}


.review__card {
    width: 380px;
    height: 290px;
    background: #1b3764;
    padding: 30px 35px;

    .nameAndRate {
        position: relative;
        bottom: 80px;
        margin-left: 100px;

        .reviewer-name {
            font-family: 'Cardo';
            font-size: 24px;
            color: #ffffff;
            margin-bottom: 10px;
        }
    }
    .review__title{
        position: relative;
        font-family: 'Cardo';
        font-size: 22px;
        color: #ffffff;
        bottom: 50px;
    }
    .description {
        position: relative;
        bottom: 30px;
        font-family: 'Inter';
        font-size: 18px;
        color: #b4c7e7;
    }

    .overall-rating {

        .full-circle {
            width: 10px;
            height: 10px;
        }

        .half-circle{
            height: 10px;
            width: 10px;
            background: linear-gradient(90deg, #ffca42 50%, #1b3764 50%);
        }
        .empty-circle {
            width: 10px;
            height: 10px;
            border: 1px solid #ffca42;
            border-radius: 10px;
        }
    }
}