.order__button {
  width: 222px;
  height: 66px;
  background-color: #ffca42;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--small {
    width: 205px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b3764;
    border: 1px solid #ffca42;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: #1b3764;
      color: #ffca42;
    }
  }
  &--bigger {
    width: 430px;
    height: 80px;
  }
}
.main__button {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 19px;
  color: #1b3764;

  &--small {
    font-family: 'Cardo';
    font-size: 19px;
    letter-spacing: 0.38px;
  }
  &--bigger {
    font-family: 'Cardo';
    font-size: 19px;
    letter-spacing: 0.57px;
  }
}

.container__title {
  position: relative;
  color: #1b3764;
  font-family: "Cardo";
  font-size: 42px;
  text-align: center;
  margin-top: 110px;

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 48.08%;
    right: 48.08%;
    top: 70px;
    background: #ffca42;
    border-radius: 0px;
  }
}

.image__border {
  position: relative;
  width: 520px;
  height: 595px;
  left: 33px;
  right: 0%;
  top: 0px;
  box-sizing: border-box;
  border: 10px solid #ffca42;
  border-radius: 0px;

  img{
    position: relative;
    width: 525px;
    height: 620px;
    bottom: 60px;
    left: -33px;
  }
}
