@mixin headerLine {
    &::after {
        content: "";
        position: absolute;
        left: 0%;
        right: 0%;
        top: 1%;
        bottom: 99%;
        border: 1px solid #000;
      }
}