// Fonts

$font-logo: 'Lato Extrabold';
$font-main: 'Lato', sans-serif;
$font-accent: 'Montserrat';

// Colors

$white-color: #FFFFFF;
$orange-color: #DF7021;
$orange-text-color: #EA9C27;
$blue-color: #486591;
$black-color: #424242;
$grey-color: #999999;
$black-links: #101010;
$black-description: #000000;
$descr-bg-color: #D2E0F6;
$danger-color: #D7141A;
$descr-header: #F3F9FF;
$squares-bg: #C4C4C4;